# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/

# Virtual env
venv/
.env/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Database (SQLite)
db/*.db

# Logs
logs/*
!logs/.gitkeep
